apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubernetes-operator.fullname" . }}
  labels:
    {{- include "kubernetes-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "kubernetes-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kubernetes-operator.selectorLabels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "kubernetes-operator.fullname" . }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.image.digest }}
          image: "{{ .Values.image.repository }}@{{ .Values.image.digest }}"
          {{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: metrics
              containerPort: {{ .Values.metricsPort }}
          env:
            - name: FORMAL_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "kubernetes-operator.fullname" . }}
                  key: formal-api-key
            - name: METRICS_ADDR
              value: ":{{ .Values.metricsPort }}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if .Values.pullWithCredentials }}
      imagePullSecrets:
        - name: formal-ecr-secret
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
